<%= form_for [@project,@project_task] do |form| %>
  <p>
    <%= form.label :name, "Project Task Name:" %>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.label :user_id, "Assign Developer:" %>
    <%= form.select :user_id, @users.pluck(:email,:id)%>
  </p>

  <% if @project_task.errors[:name].any? %>
    <p class='error-messages'>
      The given url <%= @project_task.errors[:name].to_sentence %>.
    </p>
  <% end %>

  <p class='buttons'>
    <%= form.submit "Save" %>
  </p>

<% end %>