<% if current_user.role == "admin" %>
  <ul class="nav navbar-nav">
    <li>
      <%= link_to "Create Project Task", new_project_project_task_path(project_id: params[:project_id]) %>
    </li>
  </ul>
  <% @project_tasks.each_with_index do |project_task, index| %>
     <%= label :name, "Project Tasks Name:" %>
     <%= project_task.name %>
     <%= link_to "Edit Task", edit_project_project_task_path(:project_id => @project.id, :id => project_task)  %>
     </br>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Project Tasks Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @project_tasks.each_with_index do |project_task, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= project_task.name %></td>
          <td>
            <%= link_to "Edit Task", edit_project_project_task_path(:project_id => @project.id, :id => project_task)  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Status</th>
        <th>Name</th>
        <th>Change Status</th>
      </tr>
    </thead>
    <tbody>
      <% @project_tasks.each_with_index do |task, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= task.status %></td>
          <td><%= task.name %></td>
          <td>
            <% if task.status.downcase == "new" %>
              <%= link_to "In Progress", project_project_task_path(:project_id => task.project_id, :id => task.id, :project_task => {:status => "in progress" }), :method => "put" %> 
            <% elsif task.status.downcase == "in progress" %>
              <%= link_to "Done",  project_project_task_path(:project_id => task.project_id, :id => task.id, :project_task => {:status => "done" }), :method => "put" %>
            <% elsif task.status.downcase == "done" %>
              <%= link_to "In Progress",  project_project_task_path(:project_id => task.project_id, :id => task.id, :project_task => {:status => "in progress"}), :method => "put" %>
            <% end %>  
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
