
<% if user_signed_in? %>
  <div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-1">
    <%= link_to "Create Project",  new_project_path, class: "btn btn-primary" %>
  </div>
  </div>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-sm-1" >
        <h4><span class="label label-default">Project Name</span></h4>
      </div>
      <div class="col-sm-9" style="padding-left:25px">
        <h4><%= project.name %></h4>
      </div>
      <div class="col-sm-2">
        <%= link_to "Create Task",  new_project_project_task_path(:project_id => project.id), class: "btn btn-primary" %>
      </div>

      
      <% if project.get_all_task.present? %>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Status</th>
              <th>Name</th>
              <th>Developer</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <% project.get_all_task.each_with_index do |task, index| %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= task.status %></td>
                <td><%= task.name %></td>
                <td><%= task.get_developer_email %></td>
                <td>
                  <%= link_to "Edit",  edit_project_project_task_path(:project_id => project.id, :id => task.id)  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if false %>
  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    <%= link_to "Create Project",  new_project_path %>
    </br>

    <% @projects.each do |project| %>
      <%= label :name, "Project Name:" %>
      <%= project.name %>
      <%= link_to "Create Task",  new_project_project_task_path(:project_id => project.id)  %> 
      </br>
      <% if project.get_all_task.present? %>
        <table>
          <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Developer</th>
            <th>Edit</th>
          </tr>
          <% project.get_all_task.each do |task| %>
            <tr>
              <td><%= task.status %></td>
              <td><%= task.name %></td>
              <td><%= task.get_developer_email %></td>
              <td><%= link_to "Edit",  edit_project_project_task_path(:project_id => project.id, :id => task.id)  %></td>
            </tr>
          <% end %>
        </table>
      <% end %>  
    <% end %>

  <% else %>

    <h1> welcom to rails community</h1>
    <%= link_to "Sign In", new_user_session_path, :method => :get %>
    <%= link_to "Sign up", new_user_registration_path, :method => :get %>

  <% end %>
<% end %>