<%= form_for @project do |form| %>
  <p>
    <%= form.label :name, "Project Name:" %>
    <%= form.text_field :name %>
  </p>

  <% if @project.errors[:name].any? %>
    <p class='error-messages'>
      The given url <%= @project.errors[:name].to_sentence %>.
    </p>
  <% end %>

  <p class='buttons'>
    <%= form.submit "Save" %>
  </p>

<% end %>