<!DOCTYPE html>
<html>
<head>
  <title>Assignment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="col-md-10"></div>
      <div class="col-md-2">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete if current_user %>
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>
<style>
body {
padding-top: 70px;
/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
</style>
</body>
</html>
